/*============================================ COLOURS =====================================*/

@WESTERN_PURPLE: #4F2683;
@NOT_WESTERN_PURPLE: #988FCE;
@LIGHTER_PURPLE: lighten(@NOT_WESTERN_PURPLE, 10%);
@WESTERN_GRAY: #807F83;

/*============================================ GENERAL =====================================*/


@base: #f938ab;

.box-shadow(@style, @c) when (iscolor(@c)) {
  -webkit-box-shadow: @style @c;
  box-shadow: @style @c;
}

.box-shadow(@style, @alpha: 50%) when (isnumber(@alpha)) {
  .box-shadow(@style, rgba(0, 0, 0, @alpha));
}

.box {
  color: saturate(@base, 5%);
  border-color: lighten(@base, 30%);
  div {
    .box-shadow(0 0 5px, 30%)
  }
}

*{
  font-family: 'Palanquin', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: 600;
}

h2{
  font-size: 38px;
}

p{
  font-size: 20px;
}

.row{
  margin-left: 0;
  margin-right: 0;
}

/*============================================ TRIANGLELANDERANDNAV.PHP =====================================*/

@NAVHEIGHT: 40px;

#triangleNav {
  min-height: @NAVHEIGHT + 3px;
  height: @NAVHEIGHT + 3px;
}

.triLbl {
  pointer-events: none;
  color: ghostwhite;
  position: absolute;
  top: 0;
  height: @NAVHEIGHT;
  text-transform: uppercase;
  font-weight: 600;
  padding-top: 8px;

  @media (min-width: 1024px) {
    font-size: 0.45 * @NAVHEIGHT;
  }
  font-size: 0.4 * @NAVHEIGHT;

  &:hover {
    cursor: pointer;
  }
}

#triLabels {
  pointer-events: none;
  position: fixed;
  width: 100%;
}

#triLbl1 {
  padding-left: 3%;
}

#triLbl4 {
  padding-right: 1%;
}

.scrolledNav {
  &:hover {
    cursor: pointer;
  }
}

/*============================================ NAVBAR.PHP =====================================*/

.navbar-custom {
  background: @NOT_WESTERN_PURPLE;
  font-weight: 700;
  border: none;
  text-transform: uppercase;
  .navbar-nav {
    li {
      a {
        &:hover {
          color: @WESTERN_PURPLE;
          outline: 0
        }
        color: white;
      }
    }
  }
  .navbar-toggle {
    color: white;
    border-color: white;
    font-size: 10px;
    text-transform: uppercase;

    &:hover, &:focus {
      background-color: @LIGHTER_PURPLE;
    }
  }

}

#mobileNavLbl {
  text-transform: uppercase;
  color: white;
  @media (min-width: 490px) {
    font-size: 18px;
  }
  @media (min-width: 390px) and (max-width: 489px) {
    font-size: 13px;
  }
  @media (min-width: 310px) and (max-width: 389px) {
    font-size: 9px;
  }
  @media (min-width: 249px) and (max-width: 309px) {
    font-size: 7px;
  }
  font-size: 5px;
}

/*============================================  MISSIONSTATEMENT.PHP =====================================*/

#mission-statement{
  padding: 8%;
  padding-top: 2% !important;
  margin-bottom: 10%;
}

#missionTitle{
  padding-top: 4% !important;
  @media(max-width: 494px){
    font-size: 18px;
  }
  @media(max-width: 380px){
    font-size: 14px;
  }
}

#msnStatement{
  font-size: 22px;
  @media(max-width: 494px){
    font-size: 15px;
  }
}

.purple{
  color: @NOT_WESTERN_PURPLE;
}
/*============================================  OURSTORY.PHP =====================================*/

#our-story{
  padding: 5%;
  padding-top: 17% !important;
  padding-bottom: 18% !important;
  background-color: lighten(@WESTERN_GRAY, 40%);
}

.description{
  @media (max-width: 1440px){
    font-size: 16px;
  }
  @media (max-width: 1024px){
    font-size: 12px;
  }
}

.description-header{
  font-size: 23px;
}

#storyDescription{
  font-size: 20px;
}

/*============================================ PORTFOLIO.PHP =====================================*/

#portfolio {
  padding: 7%;
  background-image: url("../img/stock/startup-photos.min.jpg");
  background-attachment: fixed;
  background-size: cover;
}

#portTitle{
  color: white;
  margin-bottom: 30px;
}

#portContainer{
  opacity: 0.8;
  padding-left: 15%;
  padding-right: 15%;
  margin: 3px;
  background-color: white !important;
}

.portImg{
  margin-top: 5vh;
  margin-bottom: 5vh;
  filter: grayscale(100%);

  &:hover{
    filter: grayscale(0%);
  }
}

/*============================================ FOOTER.PHP =====================================*/

#footer{
  i.fa {
    height: 30px;
    width: 30px;
    border: 2px solid white;
    font-size: 20px;
    padding: 4px 5px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s;

    &:hover{
      background: @LIGHTER_PURPLE;
    }
  }

  background-color: @NOT_WESTERN_PURPLE;
  color: white;
}

#copyright {
  font-size: 12px;
}

.social-area{
  margin-top: 10px;
  font-size: 10px;
}

.footer-hover > li > a{
  color: white;
}

.modal-body  {
  font-size: 8pt;
}

.modal-body > p {
  font-size: 8pt;
}
/*============================================ NEXTBUTTON.PHP =====================================*/

.navButton{
  height: 35px;
  width: 35px;
  border: 2px solid @NOT_WESTERN_PURPLE;
  font-size: 27px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s;
  background-color: @NOT_WESTERN_PURPLE;
  cursor: pointer;
  z-index: 9999 !important;
  position: fixed;
  left: 10px;
}

#downButton{
  .navButton;
  top: calc(~'50% + 30px');
  padding: 4px 7px;

  @media(max-width: 650px){
    top: 90%;
    left: calc(~'50% + 13.5px');
  }

}

#upButton{
  .navButton;
  top: calc(~'50% - 30px');
  padding: 2px 7px;

  @media(max-width: 650px) {
    top: 90%;
    left: calc(~'50% - 47.5px');
  }
}


/*============================================ APPLICATION.PHP =====================================*/

#application{
  margin: 5% !important;
  margin-top: 15% !important;
  margin-bottom: 12% !important;
  padding: 5%;

}

.grey{
  background-color: lighten(@WESTERN_GRAY, 40%);

}

.applyTxt{
  font-size: 29px;
  @media(max-width: 1060px){
    font-size: 20px;
  }
  @media(max-width: 730px){
    font-size: 16px;
  }
  @media(max-width: 405px){
    font-size: 14px;
  }
}

.applyTtl{
  font-size: 33px;
  @media(max-width: 730px){
    font-size: 20px;
  }
  @media(max-width: 405px){
    font-size: 15px;
  }
  .applyClick{
    background-color: white;
  }
}

.applyClick{
  margin-top: 4%;
  font-size: 50px;
  @media(max-width: 500px){
    font-size: 35px;
  }
}

.selectAppl{
  font-size: 43px;
  @media(max-width: 500px){
    font-size: 20px;
  }
  margin-bottom: 10%;
  cursor: pointer;
  &:hover{
    color: @NOT_WESTERN_PURPLE;
  }
  color: lighten(black, 50%);
}

#applicationContainer{
  background-image: url("../img/triangles.png");
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 20px;
  background-size: 100%;
}

/*============================================ EXECTEAM.PHP =====================================*/

#exec-team{
  margin: 2%;
  margin-top: 0 !important;
  padding: 3%;
}

.execName{
  @media(max-width: 600px){
    font-size: 16px;
  }
  @media(max-width: 400px){
    font-size: 24px;
  }
  @media(max-width: 300px){
    font-size: 18px;
  }
}

#execTitle{
  margin-bottom: 30px;
}

/*============================================ CONTACTUS1.PHP ========================================================*/


#mailerForm {
  width: 100%;
  padding: 20px;
}

.contactUsText {
  color: white;
}

.contactUsContainer {
  margin-bottom: 20px;
}

.contactIcon {
  width: 30px;
}


/*============================================  =====================================*/