@base: #f938ab;

.box-shadow(@style, @c) when (iscolor(@c)) {
  -webkit-box-shadow: @style @c;
  box-shadow:         @style @c;
}

.box-shadow(@style, @alpha: 50%) when (isnumber(@alpha)) {
  .box-shadow(@style, rgba(0, 0, 0, @alpha));
}

.box {
  color: saturate(@base, 5%);
  border-color: lighten(@base, 30%);
  div { .box-shadow(0 0 5px, 30%) }
}



/*============================================ TRIANGLEGALLERY.PHP (incomplete) =====================================*/

@NAVHEIGHT: 40px;

#triangleNav{
  min-height: @NAVHEIGHT + 3px;
  height: @NAVHEIGHT + 3px;
}

.triLbl {
  pointer-events: none;
  color: ghostwhite;
  position: absolute;
  top: 0;
  height: @NAVHEIGHT;
}

#triLabels{
  pointer-events: none;
  position: fixed;
  width: 100%;
}

#triLbl1{
  padding-left: 2%;
}

#triLbl4{
  padding-right: 2%;
}

.scrolledNav{
  pointer-events: none;
}

*{
  //border: solid 1px red;
}
/*============================================  =====================================*/

