/*============================================ COLOURS =====================================*/
/*============================================ GENERAL =====================================*/
.box {
  color: #fe33ac;
  border-color: #fdcdea;
}
.box div {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
* {
  font-family: 'Palanquin', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 600;
}
h2 {
  font-size: 38px;
}
p {
  font-size: 20px;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
a:hover {
  text-decoration: none;
}
/*============================================ TRIANGLELANDERANDNAV.PHP =====================================*/
#triangleNav {
  min-height: 43px;
  height: 43px;
}
.triLbl {
  pointer-events: none;
  color: ghostwhite;
  position: absolute;
  top: 0;
  height: 40px;
  text-transform: uppercase;
  font-weight: 600;
  padding-top: 8px;
  font-size: 16px;
}
@media (min-width: 1024px) {
  .triLbl {
    font-size: 18px;
  }
}
.triLbl:hover {
  cursor: pointer;
}
#triLabels {
  pointer-events: none;
  position: fixed;
  width: 100%;
}
#triLbl4 {
  padding-right: 3%;
}
.scrolledNav:hover {
  cursor: pointer;
}
/*============================================ NAVBAR.PHP =====================================*/
.navbar-custom {
  background: #988FCE;
  font-weight: 700;
  border: none;
  text-transform: uppercase;
}
.navbar-custom .navbar-nav li a {
  color: white;
}
.navbar-custom .navbar-nav li a:hover {
  color: #4F2683;
  outline: 0;
}
.navbar-custom .navbar-toggle {
  color: white;
  border-color: white;
  font-size: 10px;
  text-transform: uppercase;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #b9b2de;
}
#mobileNavLbl {
  text-transform: uppercase;
  color: white;
  font-size: 5px;
}
@media (min-width: 490px) {
  #mobileNavLbl {
    font-size: 18px;
  }
}
@media (min-width: 390px) and (max-width: 489px) {
  #mobileNavLbl {
    font-size: 13px;
  }
}
@media (min-width: 310px) and (max-width: 389px) {
  #mobileNavLbl {
    font-size: 9px;
  }
}
@media (min-width: 249px) and (max-width: 309px) {
  #mobileNavLbl {
    font-size: 7px;
  }
}
/*============================================  MISSIONSTATEMENT.PHP =====================================*/
.mission-statement {
  padding: 8%;
  padding-top: 2% !important;
  margin-bottom: 10%;
}
.missionTitle {
  padding-top: 4% !important;
}
@media (max-width: 494px) {
  .missionTitle {
    font-size: 18px;
  }
}
@media (max-width: 380px) {
  .missionTitle {
    font-size: 14px;
  }
}
.msnStatement {
  font-size: 22px;
}
@media (max-width: 494px) {
  .msnStatement {
    font-size: 15px;
  }
}
.purple {
  color: #988FCE;
}
/*============================================  OURSTORY.PHP =====================================*/
.our-story {
  padding: 5%;
  padding-top: 10% !important;
  padding-bottom: 15% !important;
  background-image: url("../img/background/OURSTORY.png");
  background-size: cover;
  background-attachment: fixed;
}
@media (min-width: 768px) {
  .our-story .descrCol1 {
    margin-top: 13%;
  }
  .our-story .descrCol2 {
    margin-top: 8%;
  }
}
@media (max-width: 1440px) {
  .description {
    font-size: 16px;
  }
}
@media (max-width: 1024px) {
  .description {
    font-size: 12px;
  }
}
.description-header {
  font-size: 23px;
}
/*============================================ PORTFOLIO.PHP =====================================*/
.portfolio {
  padding: 7%;
  background-image: url("../img/stock/startup-photos.min.jpg");
  background-attachment: fixed;
  background-size: cover;
}
.portTitle {
  color: white;
  margin-bottom: 30px;
}
.portContainer {
  opacity: 0.8;
  padding-left: 15%;
  padding-right: 15%;
  margin: 3px;
  background-color: white !important;
}
.portImg {
  margin-top: 5vh;
  margin-bottom: 5vh;
  filter: grayscale(100%);
}
.portImg:hover {
  filter: grayscale(0%);
}
/*============================================ FOOTER.PHP =====================================*/
.footer {
  background-color: #988FCE;
  color: white;
}
.footer i.fa {
  height: 30px;
  width: 30px;
  border: 2px solid white;
  font-size: 20px;
  padding: 4px 5px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s;
}
.footer i.fa:hover {
  background: #b9b2de;
}
.copyright {
  font-size: 12px;
}
.social-area {
  margin-top: 10px;
  font-size: 10px;
}
.footer-hover > li > a {
  color: white;
}
.modal-body {
  font-size: 8pt;
}
.modal-body > p {
  font-size: 8pt;
}
/*============================================ NEXTBUTTON.PHP =====================================*/
.navButton {
  height: 36px;
  width: 36px;
  border: 2px solid #988FCE;
  font-size: 27px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s;
  background-color: #988FCE;
  cursor: pointer;
  z-index: 9999 !important;
  position: fixed;
  left: 10px;
}
#downButton {
  height: 36px;
  width: 36px;
  border: 2px solid #988FCE;
  font-size: 27px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s;
  background-color: #988FCE;
  cursor: pointer;
  z-index: 9999 !important;
  position: fixed;
  left: 10px;
  top: calc(50% + 30px);
  padding: 4px 7px;
}
@media (max-width: 650px) {
  #downButton {
    top: 90%;
    left: calc(50% + 13.5px);
  }
}
#upButton {
  height: 36px;
  width: 36px;
  border: 2px solid #988FCE;
  font-size: 27px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s;
  background-color: #988FCE;
  cursor: pointer;
  z-index: 9999 !important;
  position: fixed;
  left: 10px;
  top: calc(50% - 30px);
  padding: 2px 7px;
}
@media (max-width: 650px) {
  #upButton {
    top: 90%;
    left: calc(50% - 47.5px);
  }
}
/*============================================ APPLICATION.PHP =====================================*/
.application {
  margin: 5% !important;
  margin-top: 3% !important;
  margin-bottom: 3% !important;
  padding: 5%;
}
.grey {
  background-color: rgba(231, 231, 231, 0.8);
}
.grey .applyText {
  padding: 4%;
  padding-top: 1% !important;
}
.applyTxt {
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 2%;
}
@media (max-width: 1060px) {
  .applyTxt {
    font-size: 17px;
  }
}
@media (max-width: 730px) {
  .applyTxt {
    font-size: 15px;
  }
}
@media (max-width: 405px) {
  .applyTxt {
    font-size: 14px;
  }
}
.applyTtl {
  font-size: 23px;
}
@media (max-width: 730px) {
  .applyTtl {
    font-size: 17px;
  }
}
@media (max-width: 405px) {
  .applyTtl {
    font-size: 14px;
  }
}
.applyTtl .applyClick {
  background-color: white;
}
.applyClick {
  margin-top: 4%;
  margin-bottom: 3%;
  font-size: 75px;
}
@media (max-width: 500px) {
  .applyClick {
    font-size: 55px;
  }
}
.selectAppl {
  font-size: 50px;
  margin-bottom: 3%;
  cursor: pointer;
  color: #808080;
}
@media (max-width: 500px) {
  .selectAppl {
    font-size: 37px;
  }
}
.selectAppl:hover {
  color: #988FCE;
}
.applicationContainer {
  background-image: url("../img/background/triangles.png");
  background-attachment: fixed;
  background-size: cover;
  padding-top: 5%;
  padding-bottom: 5%;
  background-size: 100%;
}
/*============================================ EXECTEAM.PHP =====================================*/
.exec-team {
  margin: 2%;
  margin-top: 0 !important;
  padding: 3%;
}
@media (max-width: 600px) {
  .execName {
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  .execName {
    font-size: 24px;
  }
}
@media (max-width: 300px) {
  .execName {
    font-size: 18px;
  }
}
.execTitle {
  margin-bottom: 30px;
}
/*============================================ CONTACTUS1.PHP ========================================================*/
#mailerForm {
  width: 100%;
  padding: 20px;
}
.contactUsText {
  color: white;
}
.contactUsContainer {
  margin-bottom: 20px;
}
.contactIcon {
  width: 30px;
}
/*============================================ APPLICATIONPAGE.PHP ===================================================*/
.applicationArea {
  height: 100vh;
  padding: 60px;
  font-size: 3em;
  background: url('../img/background/OURSTORY.png');
  background-attachment: fixed;
  background-size: cover;
}
.applicationArea .resume {
  height: 40px;
  opacity: 0.4;
  margin-bottom: 20px;
}
.applicationArea a {
  color: #807F83 !important;
}
@media (max-width: 600px) {
  .applicationArea {
    font-size: 2em !important;
    padding-top: 20px !important;
  }
}
.applicationArea input {
  border: none;
  background: transparent;
  margin-bottom: 20px;
  margin-left: 5px;
  height: 6vh;
  width: 100%;
}
.applicationArea input:focus {
  border: none;
  border-bottom: #807F83 !important;
}
.applicationArea input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #807F83;
}
.applicationArea input::-moz-placeholder {
  /* Firefox 19+ */
  color: #807F83;
}
.applicationArea input:-ms-input-placeholder {
  /* IE 10+ */
  color: #807F83;
}
.applicationArea input:-moz-placeholder {
  /* Firefox 18- */
  color: #807F83;
}
.applicationArea select {
  border: none;
  background: transparent;
  opacity: 0.4;
  text-transform: lowercase;
  margin-bottom: 20px;
}
.applicationArea select[disabled] {
  color: #807F83;
}
.applicationArea textarea {
  border: none;
  background: transparent;
  width: 400px !important;
  height: 80px !important;
  font-size: 17px !important;
  margin-bottom: 10px;
}
@media (max-width: 600px) {
  .applicationArea textarea {
    width: 200px !important;
    height: 150px !important;
  }
}
.applicationArea .logo {
  width: 100%;
  height: 100%;
}
@media (max-width: 993px) {
  .applicationArea .logo {
    max-height: 200px !important;
    max-width: 200px !important;
  }
}
.applicationArea .btn {
  background-color: orange;
  border: none !important;
  margin-bottom: 100px;
}
.applicationArea .btn:hover {
  background-color: #ffb733;
}
