/*============================================ COLOURS =====================================*/

@WESTERN_PURPLE: #4F2683;
@LIGHTER_PURPLE: lighten(@WESTERN_PURPLE, 10%);
@WESTERN_GRAY: #807F83;

*{
  font-family: 'Palanquin', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: 600;
}



/*============================================ =====================================*/


@base: #f938ab;

.box-shadow(@style, @c) when (iscolor(@c)) {
  -webkit-box-shadow: @style @c;
  box-shadow: @style @c;
}

.box-shadow(@style, @alpha: 50%) when (isnumber(@alpha)) {
  .box-shadow(@style, rgba(0, 0, 0, @alpha));
}

.box {
  color: saturate(@base, 5%);
  border-color: lighten(@base, 30%);
  div {
    .box-shadow(0 0 5px, 30%)
  }
}

/*============================================ TRIANGLELANDERANDNAV.PHP =====================================*/

@NAVHEIGHT: 40px;

#triangleNav {
  min-height: @NAVHEIGHT + 3px;
  height: @NAVHEIGHT + 3px;
  //border: solid red 1px !important;
}

.triLbl {
  pointer-events: none;
  color: ghostwhite;
  position: absolute;
  top: 0;
  height: @NAVHEIGHT;
  text-transform: uppercase;
  font-weight: 900;
  padding-top: 10px;

  @media (min-width: 1024px) {
    font-size: 0.45 * @NAVHEIGHT;
  }
  font-size: 0.4 * @NAVHEIGHT;

  &:hover {
    cursor: pointer;
  }
}

#triLabels {
  pointer-events: none;
  position: fixed;
  width: 100%;
}

#triLbl1 {
  padding-left: 3%;
}

#triLbl4 {
  padding-right: 1%;
}

.scrolledNav {
  &:hover {
    cursor: pointer;
  }
}

/*============================================ NAVBAR.PHP =====================================*/

.navbar-custom {
  background: @WESTERN_PURPLE;
  font-weight: 700;
  border: none;
  .navbar-nav {
    li {
      a {
        &:hover {
          color: @WESTERN_GRAY;
          outline: 0
        }
      }
    }
  }
  .navbar-toggle {
    color: white;
    border-color: white;
    font-size: 10px;
    text-transform: uppercase;

    &:hover, &:focus {
      background-color: @LIGHTER_PURPLE;
    }
  }

}

#mobileNavLbl {
  @media (min-width: 490px) {
    font-size: 18px;
  }
  @media (min-width: 390px) and (max-width: 489px) {
    font-size: 13px;
  }
  @media (min-width: 310px) and (max-width: 389px) {
    font-size: 9px;
  }
  @media (min-width: 249px) and (max-width: 309px) {
    font-size: 7px;
  }
  font-size: 5px;
}
/*============================================  MISSIONSTATEMENT.PHP =====================================*/

#mission-statement{
  padding: 8%;
  padding-top: 2% !important;
}

#missionTitle{
  @media(max-width: 494px){
    font-size: 18px;
  }
  @media(max-width: 380px){
    font-size: 14px;
  }
}

#msnStatement{
  @media(max-width: 494px){
    font-size: 15px;
  }
}

.purple{
  color: @WESTERN_PURPLE;
}
/*============================================  OURSTORY.PHP =====================================*/

#our-story{
  margin: 5%;
  margin-bottom: 12% !important;
  padding: 5%;
  background-color: lighten(@WESTERN_GRAY, 40%);
}

.description{
  @media (max-width: 1440px){
    font-size: 16px;
  }
  @media (max-width: 1024px){
    font-size: 12px;
  }
}

.description-header{
  font-size: 23px;
}

/*============================================ PORTFOLIO.PHP =====================================*/

#portfolio {
  padding: 7%;
  background-image: url("../img/stock/startup-photos.jpg");
  background-attachment: fixed;
  background-size: cover;
}

#portTtle{
  @media(max-width: 330px){
    font-size: 18px;
  }
}

#portContainer{
  border: solid 15px @WESTERN_PURPLE;
  //width: 90
  padding-left: 15%;
  padding-right: 15%;
  margin: 3px;
  background-color: white !important;
}

.portImg{
  margin-bottom: 5vh;
  &:hover{
    opacity: 0.7;
  }
}

/*============================================ FOOTER.PHP =====================================*/

#footer{
  i.fa {
    height: 30px;
    width: 30px;
    border: 2px solid white;
    font-size: 20px;
    padding: 4px 5px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s;

    &:hover{
      background: @LIGHTER_PURPLE;
    }
  }

  background-color: @WESTERN_PURPLE;
  color: white;
}

#copyright {
  //padding-top: 16px;
  font-size: 12px;
}

.social-area{
  margin-top: 10px;
  font-size: 10px;
}

.footer-hover > li > a{
  color: white;
}

/*============================================ NEXTBUTTON.PHP =====================================*/

#downButton{
  height: 29px;
  width: 29px;
  border: 2px solid orange;
  font-size: 20px;
  padding: 4px 6.5px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s;
  background-color: orange;

  position: fixed;
  top: 50%;
  left: 10px;

  @media(max-width: 650px){
    top: 90%;
    left: calc(~'50% - 15px');
  }


  cursor: pointer;
  z-index: 9999 !important;
}



/*============================================ APPLICATION.PHP =====================================*/

*{
  //border: solid 1px red;
}

#application{
  margin: 5%;
  padding: 5%;
  background-color: lighten(@WESTERN_PURPLE, 61%);

  /* If we would prefer an image here

  */
}


.applyTxt{
  font-size: 29px;
  @media(max-width: 1060px){
    font-size: 20px;
  }
  @media(max-width: 730px){
    font-size: 16px;
  }
  @media(max-width: 405px){
    font-size: 14px;
  }
}

.applyTtl{
  @media(max-width: 730px){
    font-size: 20px;
  }
  @media(max-width: 405px){
    font-size: 15px;
  }
}

.selectAppl{
  cursor: pointer;
  &:hover{
    color: @LIGHTER_PURPLE;
  }
  color: lighten(black, 50%);
}


/*============================================ EXECTEAM.PHP =====================================*/

#exec-team{
  margin: 2%;
  padding: 3%;
}

.execName{
  @media(max-width: 600px){
    font-size: 16px;
  }
  @media(max-width: 450px){
    font-size: 24px;
  }
  @media(max-width: 350px){
    font-size: 18px;
  }
}


/*============================================  =====================================*/


/* Beginning of Our Story */
//@OSBG: #f7f7f7;
//@PFONT: Gotham SSm,sans-serif;
//@DESCRIPTIONFONT: #999;
//@SIZED: 13px;
//@SIZEH: 14px;
//#our-story {
//  background-color: lighten(@WESTERN_GRAY, 40%);
//}
//#our-story .description-header{
//  font-family: @PFONT;
//  font-size: @SIZEH;
//  font-weight: 500;
//  letter-spacing: .2em;
//  text-transform: uppercase;
//}
//#our-story .description{
//  font-family: @PFONT;
//  color: @DESCRIPTIONFONT;
//  font-size: @SIZED;
//  line-height: 1.75;
//}
/* End of Our Story */
///* Beginning of Portfolio */
//@OPACITY: 0.3;
//@PURPLE: #4F2683;
//#portfolio .col-md-4{
//  height: 250px;
//}
//#portfolio img {
//  height: 250px;
//  margin-left: auto;
//  margin-right: auto;
//}
//
//#portfolio .project > h4 {
//  position: relative;
//  bottom: 150px;
//  color: @PURPLE;
//  visibility: hidden;
//}
//
//#portfolio .project:hover > h4 {
//  visibility: visible;
//}
//
//#portfolio .project > small {
//  position: relative;
//  bottom: 150px;
//  color: @PURPLE;
//  visibility: hidden;
//}
//
//#portfolio .project:hover > small {
//  visibility: visible;
//}
//
//#portfolio .project:hover > img {
//  opacity: @OPACITY;
//}
//
//#portfolio a:hover {
//  color: @PURPLE;
//}
/* End of Portfolio */
/* Applications */
//.apply-npo {
//  height: 30vh;
//  min-height: 200px;
//  padding: none;
//  background: url("../img/join/join1.jpg");
//  background-size: cover;
//  background-repeat: no-repeat;
//  color: white;
//}
//
//.apply-developer {
//  height: 30vh;
//  min-height: 200px;
//  padding: none;
//  background: url("../img/join/join2.jpg");
//  background-size: cover;
//  background-repeat: no-repeat;
//  color: white;
//}
//
//.parent-zoom {
//  overflow: hidden;
//  padding: 0;
//}
//
//.parent-zoom a {
//  display: block;
//  cursor: pointer;
//  text-decoration: none;
//  -webkit-transition: all .3s;
//  -moz-transition: all .3s;
//  -ms-transition: all .3s;
//  -o-transition: all .3s;
//  transition: all .3s;
//  text-decoration: none;
//}
//
//.parent-zoom a:hover {
//  -moz-transform: scale(1.1);
//  -webkit-transform: scale(1.1);
//  transform: scale(1.1);
//}
//
//#application > div > div > div.col-md-6.apply-developer > h1, h2 {
//  margin-top: 0px;
//}
//
//#application > div > div > div.col-md-6.apply-npo > h1, h2 > small {
//  color: white;
//}
//
///* Executives */
//.col-lg-4.col-sm-6.text-center {
//  padding-bottom: 20px;
//}
//
//
///* Footer*/
//.modal-body  {
//  font-size: 8pt;
//}
//
//.modal-body > p {
//  font-size: 8pt;
//}
//
