.box {
  color: #fe33ac;
  border-color: #fdcdea;
}
.box div {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
/*============================================ TRIANGLEGALLERY.PHP (incomplete) =====================================*/
.triLbl {
  padding-top: 15px;
  font-size: 20px;
  pointer-events: none;
  color: ghostwhite;
}
#triLabels {
  pointer-events: none;
  position: fixed;
  width: 100%;
}
.scrolledNav {
  pointer-events: none;
}
/*============================================  =====================================*/
